# Python
__pycache__/
*.py[cod]
.venv/

# Django
db.sqlite3
media/

# Local settings
**/settings/local.py

# Collected static files
/static/

# Environment files
.env
.env.*
!.env.example
!.env.sample

# Temporary files
*.bak
*.tmp

# Editors
*.swp
*.swo
